<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mtlckj.base.jqfx.mapper.TableMapper">

	<select id="listTable" resultType="com.mtlckj.base.jqfx.domain.TableDO">
		select t.table_name tableName,
			t.comments comments 
			from user_tab_comments t
	</select>
	
	
</mapper>